fastapi
uvicorn
python-dotenv
certifi
pydantic
openai
langchain
langchain-openai
sentence-transformers
motor
pymongo[srv]
sendgrid
python-jose[cryptography]
passlib[bcrypt]
bcrypt
httpx
mcp[cli]
fpdf2
